
$color1: #4b3b98;
$color2: #3b8898;
$color3: #3B5998;

.aboutHeader {
    margin-left: 10%;
}

.aboutContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    margin: 0 auto;

    a {
        color: black;
    }
    a:hover {
        color: $color1;
        font-size: 20px;
    }
}

.aboutBoxRight {
    padding-left: 50px;

    p{
        font-size: 18px;
    }
}
//iphone 6, 7, and 8 media queries
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .aboutContent {
        display: block;
    }
    .aboutBoxLeft {
        img {
            display: block;
            width: 90%;
            margin: 0 auto;
        }
    }
    .aboutBoxRight {
        padding-left: 0px;
    }
}