@import 'partials/home';

$color1: #4b3b98;
$color2: #3b8898;
$color3: #3B5998;

$font1: 'Roboto', sans-serif;
$font2: 'Lobster', cursive;

body {
    margin: 0;
    font-family: $font1;

    h1 {
        font-size: 50px;
    }
}

.navBar {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    background-color: $color1;
    width: 100%;
    height: 70px;

    .logo {
        background-color: $color2;
        font-family: $font2;
        font-size: 30px;
        text-align: center;
        
        a {
            text-decoration: none;
            color: white;
            line-height: 65px;
        }
        a:hover {
            color: black;
        }
    }

    .navList {

        ul {
            
            li {
                line-height: 35px;
                display: inline-block;
                padding-right: 10px;

            }
        
            a {
                color: white;
                text-decoration: none;
                font-size: 20px;
            }
            a:hover {
                color: black;
            }
        }
    }

}


